<!-- <div class="container">
    <div class="row">
        <p>first works!</p>
<input  type="text" [formControl]="searchControl">
    </div>
</div> -->

<!-- <form (submit)="onSubmit(one,two)" > 
    <input type="text" #one>
    <input type="text"  #two>
    <button  type="submit">submit</button>
</form> -->
<!-- <form  (submit)="onSubmit()"> 
    <input type="text" (input)="valueChangeofOne( $event)" >
    <input type="text"  (input)="valueChangeofTwo( $event)">
    <button  type="submit" >submit</button>
</form> -->
<h1 class="text-primary" style="color: red;" >hi</h1>
{{print()}}
<!-- 
<ul>
    @for (item of myList; track $index) {
        <li >{{item.id}}</li>

    }
</ul> -->